<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-4 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form (ngSubmit)="submit()" [formGroup]="signInForm" novalidate>
                  <h1 [innerHTML]="'loginPage.title' | translate"></h1>
                  <p class="text-muted" [innerHTML]="'loginPage.description' | translate"></p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input formControlName="email" type="text" [ngClass]="displayFieldCss('email')" class="form-control" placeholder="{{'loginPage.usernameplaceholder' | translate}}" autocomplete="email">
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input formControlName="password" type="password" [ngClass]="displayFieldCss('password')" class="form-control" placeholder="{{'loginPage.passwordplaceholder' | translate}}" autocomplete="password">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4" [innerHTML]="'loginPage.title' | translate"></button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" (click)="login()" [innerHTML]="'loginPage.Forgotpassword' | translate"></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
